head{
  background-color:#263238 ;
}
body{
  background-color: #3aa8e4;
}

img.resize {
  max-width:70%;
  max-height:70%;
}

.greeting{
  font-family: "Product Sans",Arial,Helvetica,sans-serif;
  font-size: 20px;
  padding:2.5em;
}

.message{
  background-color:#ff5f5;
}
/*
.primary{
	background: #f5564e;red
}
.bg_white{
	background: #ffffff;white
}
.bg_light{
	background: #fafafa;darker white
}
*/
