head{
  background-color:#263238 ;
}
body{
  background-color: #3aa8e4;
}

.logo{
  max-width:70%;
  max-height:70%;
}

.greeting{
  font-family: "Product Sans",Arial,Helvetica,sans-serif;
  font-size:35px;
  padding:2.5em;
}

.message{
  font-family: "Product Sans",Arial,Helvetica,sans-serif;
  font-size: 28px;
  background-color:#ff5f5;
  width: 500px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

/*
.primary{
	background: #f5564e;red
}
.bg_white{
	background: #ffffff;white
}
.bg_light{
	background: #fafafa;darker white
}
*/
