<link rel="stylesheet" type="text/css" href="theme.css"> 

head{
	
}

body{
	background-color: #94cee0;
  padding: 0;
  margin: 0;
}

.top{
  text-align: center;
  background-color: #a9a9a9;
  margin: 0px;
  padding: 0px;
}

.logo{
  max-width:20%;
  max-height:20%;
}


.greeting{
  background-color: #f5f5f5;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 13px;
  margin-left: 40px;
  margin-right: 40px;
}

.message{
  background-color: #f5f5f5;
  text-align: left;
  font-family: Helvetica;
  font-size: 25px;
  background-color: #ebe0df;
  max-width: 1000px;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 70px;
  padding-bottom: 50px;
}
